@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}

<div>
    <h1 class="display-4">Välkommen till Friberg Car Rentals!</h1>
</div>
