@{
    var userRole = Context.Request.Cookies["UserRole"];
    var customerId = Context.Request.Cookies["CustomerId"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FribergCarRentalsRazor</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FribergCarRentalsRazor.styles.css" asp-append-version="true" />
</head>
<body onload="refreshPage();">
    <header>
        <div id="logo"><img src="~/css/FribergLogo.png" /></div>
        <nav class="homeNav">
            <div class="container">
                <div>
                    <ul>
                        @if (userRole == "Customer" || userRole == "Admin")
                        {
                            <li>
                                <a asp-page="./Logout">Logga Ut</a>
                            </li>
                        }
                        @if (userRole == null)
                        {
                            <li>
                                <a asp-page="./Login">Logga In</a>
                            </li>
                        }
                        <li>
                            <a asp-page="/Index">Hem</a>
                        </li>
                        <li>
                            <a asp-page="/Cars/CarIndex">Bilar</a>
                        </li>                        
                        @if (userRole == "Customer")
                        {
                            <li>
                                <a asp-page="/Customers/CustomerBookingIndex" asp-route-id="@customerId">Bokningar</a>
                            </li>
                            <li>
                                <a asp-page="/Customers/CustomerDetails" asp-route-id="@customerId">Profil</a>
                            </li>
                        }                        
                        <li>
                            <a asp-page="/Admin/Admin">Admin</a>
                        </li>                        
                    </ul>
                </div>
            </div>
        </nav> 
        @if (userRole == "Admin") // Visar bara Admin-menyn om userRole är satt som Admin
        {
            <nav class="adminNav">
                <ul>
                    <li>
                        <a asp-page="/Admin/CustomerIndex">Hantera kunder</a>
                    </li>
                    <li>
                        <a asp-page="/Cars/CarIndex">Hantera bilar</a>
                    </li>
                    <li>
                        <a asp-page="/Admin/BookingIndex">Hantera bokningar</a>
                    </li>
                </ul>
            </nav>
        }
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div>
            &copy; 2024 - FribergCarRentalsRazor - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>    

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
