@{
    var userRole = Context.Request.Cookies["UserRole"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FribergCarRentalsRazor</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FribergCarRentalsRazor.styles.css" asp-append-version="true" />
</head>
<body onload="refreshPage();">
    <header>
        <div id="logo"><img src="~/css/FribergLogo.png" /></div>
        <nav class="homeNav">
            <div class="container">
                <div>
                    <ul>
                        <li>
                            <a asp-page="/Index">Hem</a>
                        </li>
                        <li>
                            <a asp-page="/Cars/CarIndex">Bilar</a>
                        </li>                        
                        @if (userRole == "Customer")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Customers/CustomerBookingIndex">Bokningar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Customers/CustomerDetails">Profil</a>
                            </li>
                        }
                        @if (userRole == "Customer" || userRole == "Admin")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="./Logout">Logga Ut</a>
                            </li>
                        }
                        @if (userRole == null) 
                        {
                             <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="./Login">Logga In</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Admin">Admin</a>
                        </li>                        
                    </ul>
                </div>
            </div>
        </nav> 
        @if (userRole == "Admin") // Visar bara Admin-menyn om userRole är satt som Admin
        {
            <nav class="adminNav">
                <ul>
                    <li>
                        <a asp-page="/Admin/CustomerIndex">Hantera kunder</a>
                    </li>
                    <li>
                        <a asp-page="/Cars/CarIndex">Hantera bilar</a>
                    </li>
                    <li>
                        <a asp-page="/Admin/BookingIndex">Hantera bokningar</a>
                    </li>
                </ul>
            </nav>
        }
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - FribergCarRentalsRazor - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>      

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
